body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
    margin: 0 0;
    font-family: Arial, sans-serif; /* Optional: Adds a basic font */
}

header {
    background-color: #004051;
    text-align: center;
    padding: 2%;
}

#Top-Div {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;

}
.borders
{
    border: 2px solid black; /* Border */
    border-radius: 45px; /* Rounded corners */
}

#TopTitle
{
    color: #34ef6c;
    font-size: 72px;
    font-weight: bold;
}
#TopTitle .img {
    float: left;
   
}
#TopImage
{
    max-width: 240px;
    
    min-width: 240px;
    
}


main {
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    /* height: 100vh; */
    flex-direction: column; /* Stacks children vertically */
    gap: 0px; /* Adjusts space between #about and #discord */
    padding: 30px;
}

#about {
    background-color: #004051;
    max-width: 1000px; /* Ensures maximum width */
    color: white;

}

#about-img {
    /* margin: 0x auto;
    object-fit: cont; */
    transform-origin: top;
    width: 100%;
}

#about-text{
    padding: 10px;
}

#social-media-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
    width: 70%;
    max-width: 1000px;
    margin-top: 20px;
}

#social-media-container a {
    font-size: 18px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}


#social-media-container a:hover img {
    transform: scale(1.1);
    transition: transform 0.3s ease, filter 0.3s ease;
}

.JoinImage {
    width: 100%;
}

footer {
    /* Footer styles */
}